html, body, a, h1, .nav, .main, .cardsContainer, .card{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

p {
    color: #36312e;
}

a {
    padding: 10px;
    color: #2e2e2e;
    text-decoration: none;
}

body {
    background-image: url("assets/bg.png");
    background-repeat: repeat-x repeat-y;

}

h1 {
    font-size: 22px;
    color: #36312e;
}

.nav {
    width: 100%;
    height: 5040 px;
    background-color: #ffffff;
    padding: 15px;
    margin: 0 auto;
    text-align: right;
    font-size: 15px;
}

.navleft {
    height: 40 px;
    padding: 15px;
    margin: 0 auto;
    text-align: left;
    font-size: 30px;
    position: absolute;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.card {
    width: 300px;
    height: 500px;
    padding: 20px;
    margin: 30px 10px 10px 10px;
    background-color: #fff9f1;
    display: inline-block;
}

.cardlink {
    background-color: #36312e;
    border-radius: 4px;
    text-align: center;
    padding: 8px;
}

.cardlink a {
    text-decoration: none;
}